body {
  background-color: black;
}

h1 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  border: 10px;
  border-color: rgb(0,155,155);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  background-color:rgb(0,255,255);
  font-size: 600%;
  text-align: center;
  border-style: inset;
  font-weight: normal;
  font-style: normal;
  text-shadow: 7px 7px 5px rgb(0,155,155);
}

h2 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  border: 2px rgb(0,255,255);
  margin: 50px;
  padding: 30px;
  background-color:rgb(0,255,255);
  font-size: 300%;
  text-align: center;
}

h3 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  border: 2px rgb(0,255,255);
  margin: 100px;
  padding: 25px;
  background-color:rgb(0,255,255);
  font-size: 250%;
}

h4 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  border: 2px rgb(0,255,255);
  margin: 100px;
  padding: 25px;
  background-color: rgb(0,255,255);
  font-size: 175%;
  outline-style: solid;
  outline-color: rgb(0,155,155);
  outline-width: medium;
}

pre {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  border: 2px rgb(0,255,255);
  margin: 50px;
  padding: 30px;
  background-color: rgb(0,255,255);
  font-size: 200%;
}

p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 0px;
  font-size: 150%;
}

td {
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 5px;
  font-size: 150%;
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding: 5px;
  font-size: 150%;
  border: 1px solid white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
  color: rgb(0,255,255);
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 5px;
  font-size: 150%;
  border: 1px solid white;
  border-collapse: collapse;
}

blockquote {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 30px;
  font-size: 150%;
  line-height: 1.1;
}

ul {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 100px;
  padding: 30px;
  font-size: 300%;
  list-style-type: circle;
}

ol {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 100px;
  padding: 30px;
  font-size: 300%;
}

a:link{
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 30px;
  font-size: 150%;
  text-decoration: none;
}

a:visited{
  color: lightblue;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 30px;
  font-size: 150%;
  text-decoration: none;
}

a:hover {
  color: purple;
  font-family: "Times New Roman", Times, serif;
  margin: 50px;
  padding: 30px;
  font-size: 150%;
  text-decoration: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.75;
}

iframe:hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1.0;
}

.menu {
    background-color: rgb(0,255,255);
    border: 0px;
}

.menu th {
  text-align: center;
  font-size: 300%;
  border: 0px;
  color: white
}

.menu td {
  text-align: center;
  font-size: 75%;
  border: 0px;
  padding: 15px;
}

.menu a:visited {
  color: blue
}

.menu a:hover {
  color: purple
}

.menu a:link {
  color: blue
}

#boxLaxMenu {
  background-color: rgb(0,105,105);
}

body.boxBackground {  /* used class for this because I only want it to apply to the box page */
      background-image: url('https://secureservercdn.net/198.71.233.129/fbb.f7d.myftpupload.com/wp-content/uploads/2016/12/nll-logo.jpg');
      background-repeat: auto;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
}
